
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
  background-color: #99B2DD;
}
canvas{
  background: whitesmoke;
  display: block;
  margin:0 auto;
  border: solid 6px black;
  
}
h1{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
}